@use "./abstract/variables" as *;
@use "sass:map";

//Breakpoints
$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

//responsive
@mixin responsive($size) {
  $value: map.get($breakpoints, $size);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  }
}

//flex-center
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//flex-between
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//focus-ring
@mixin focus-ring {
  &:focus-visible {
    outline: 2px solid #4966cc;
  }
}

//header
@mixin header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

//body
@mixin body {
  padding: 90px 30px;
}
@mixin body-primary {
  padding: 30px 30px;
}

/* =========================
   TYPOGRAPHY MIXINS
   ========================= */

/* Display xl */
@mixin text-display {
  font-family: $font-base;
  font-size: 2rem; // 32px
  line-height: 120%;
  font-weight: 700;
}

/* Title lg */
@mixin text-title {
  font-family: $font-base;
  font-size: 1.75rem; // 28px
  line-height: 120%;
  font-weight: 700;
}

/* Headline md */
@mixin text-headline {
  font-family: $font-base;
  font-size: 1.5625rem; // 25px
  line-height: 120%;
  font-weight: 600;
}

/* Subtitle sm*/
@mixin text-subtitle {
  font-family: $font-base;
  font-size: 1.375rem; // 22px
  line-height: 120%;
  font-weight: 600;
}

/* Subheadline xs*/
@mixin text-subheadline {
  font-family: $font-base;
  font-size: 18px; // 18px
  line-height: 120%;
  font-weight: 500;
}

/* Body Large */
@mixin text-body-large {
  font-family: $font-base;
  font-size: 1rem; // 16px
  line-height: 150%;
  font-weight: 400;
}

/* Body Medium */
@mixin text-body-medium {
  font-family: $font-base;
  font-size: 0.875rem; // 14px
  line-height: 150%;
  font-weight: 400;
}

/* Body Small */
@mixin text-body-small {
  font-family: $font-base;
  font-size: 12px; // 12px
  line-height: 150%;
  font-weight: 400;
}
