@use "../../../app/styles/mixins" as *;
@use "../../../app/styles/abstract/variables" as *;
@use "../../../app/styles/abstract/theme" as *;

.container {
    @include body-primary; 
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;

    & > :first-child {
        margin-bottom: 12px;
    }

    @include responsive(md) {
        gap: 20px;
        display: grid;
        grid-template-columns: 1fr; 
        
    }
    & > :global(.card-option) {
        width: 100%;
        transition: transform 0.2s ease;

        &:hover {
            @include responsive(md) {
                transform: translateX(5px);
            }
        }
    }
}