@use "../../../app/styles/mixins" as *;
@use "../../../app/styles/abstract/variables" as *;
@use "../../../app/styles/abstract/theme" as *;

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include body-primary;

    &__back-button{
        background-color: transparent;
        border: none;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__card-wrapper{
        margin-bottom: 15px;
    }

}