@use "../../../app/styles/mixins" as *;
@use "../../../app/styles/abstract/variables" as *;

.square {
  background-color: var(--card-bg, $color-background);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}
