/* =========================
   SEMANTIC TOKENS
   ========================= */
$color-primary: var(--color-primary);
$color-background: var(--color-background);
$color-text: var(--color-text);
$color-border: var(--color-border);
$color-title: var(--color-title);

$color-success: #027a01;
$color-error: #7a0101;
$color-warning: #bdb603;